<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <h1>Login</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-primary">Entrar</button>
            </form>
            
            <p>Não tem uma conta? <a href="{% url 'cadastro_paciente' %}">Cadastre-se</a></p>
    
        </div>
    </div>
</div>
   

{% endblock %}